:global body {
    margin: 0;
    background: #f5f5f5;
}

.container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    max-width: 960px;
    width: 100%;
}

.header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;

    display: block;
    padding: 12px 0;
    width: 100%;

    background: #fb0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.content {
    margin-top: 96px;
}
