$fontSize = 20px;
.create-place {
    display: flex;
    align-items: center;
    margin: 30px 0;

    &__input {
        font-size: $fontSize;
        height: 40px;
        padding: 0 40px;
        border: 1px solid #333;
        flex: auto;
    }

    &__button {
        font-size: $fontSize;
        margin-left: 10px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #333;
        cursor: pointer;
    }

}
