.footer
    height: 30px;
    margin-top: -30px;
    line-height: 30px;
    position: relative;
    display: flex;
    padding: 0 60px;
    border-top: 1px solid #999;
    &__contributor
        position: relative;
        right: 0;
        flex: auto;
        text-align: right;