$fontSize = 20px;
.search
    top: 30px;

    &__input
        line-height: 40px;
        font-size: $fontSize;
        width: calc(100% - 80px);
        padding: 0 40px;
        background: url("../images/loupe.png") no-repeat 4px center;
        border: 1px solid #333;