<div class="add-place">
    <input type="text" class="add-place__input" placeholder="Название" name="name">
    <button type="submit" class="add-place__button ripple" onclick="addPlace()">Создать</button>
</div>
