<input class="place__visit input_default" type="checkbox" name="place__visit" id="v1">
<li class="place">
    <label class="place__visit" for="v1"></label>
    <button class="place__arrow down button_default" type="button">↓</button>
    <button class="place__arrow up button_default" type="button">↑</button>
    <h3 class="place__name">Место 1</h3>
    <button class="place__delete button_default button_hidden" type="button"></button>
    <button class="place__edit button_default button_hidden" type="button"></button>
</li>
