<div class="main-create-place">
    <input class="main-create-place__input" type="text" placeholder="Название места">
    <input class="main-create-place__button" type="button" value="Создать" onclick="createPlace()">
</div>