<header class="main-header">
    <div class="main-header-search">
        <img onclick="search()" src="http://s1.iconbird.com/ico/2013/6/280/w32h321371488687searchpointer32.png" alt="">
        <input class="main-header-search__input" type="text" placeholder="Поиск">
    </div>
</header>