<div class="location-name">{{ this.name }}</div>

<div class="arrows horizontal-flex">
    {{#if this.arrowUp}}
        <div class="arrow-up button arrow"></div>
    {{/if}}

    {{#if this.arrowDown}}
        <div class="arrow-down button arrow"></div>
    {{/if}}
</div>

{{#if this.visited}}
    <div class="visited-icon visited-flag"></div>
{{else}}
    <div class="not-visited-icon visited-flag"></div>
{{/if}}
