<div class="location-name">{{ this.name }}</div>

<div class="arrows horizontal-flex">
    <div class="arrow-up button arrow"></div>
    <div class="arrow-down button arrow"></div>
</div>

{{#if this.visited}}
    <div class="visited-icon visited-flag"></div>
{{else}}
    <div class="not-visited-icon visited-flag"></div>
{{/if}}