<div class="place-creator one-line">
    <input class="place-creator__input input_default" type="text" placeholder="Название места">
    <button class="place-creator__button" type="button">Создать место</button>
</div>
