<div class="places">
    <div class="places-header">
        <h2 class="places__title">Места</h2>
        <i class="far fa-trash-alt places__clear clickable"></i>
        <div class="filter">
            <a class="filter__button filter__button--rounded-left filter__button--active  clickable" data-filter="all">Все</a>
            <a class="filter__button  clickable" data-filter="visit">Посетить</a>
            <a class="filter__button filter__button--rounded-right  clickable" data-filter="visited">Посещённые</a>
        </div>
    </div>
    <hr>
    <div class="places-list">
    </div>
</div>
