<div class="place-creator one-line">
    <input class="place-creator__ipt" type="text" placeholder="Название места">
    <button class="place-creator__btn" type="button">Создать место</button>
</div>
