main {
    /* display: grid;
    grid-template-areas: "search search"
                         "search search"
                         "footer footer footer";
    */
    border: thin solid black;
    width: 60%;
    margin: 20px auto;
}
