.list-filter
{

}

.list-filter_state_unvisited .list-filter__unvisited,
.list-filter_state_visited .list-filter__visited,
.list-filter_state_all .list-filter__all
{
    background-color: red;
}

.list-filter__unvisited,
.list-filter__visited,
.list-filter__all
{
    outline: none;
    border-radius: .5em;
}




