<h1 class="places__header-text">Места</h1>
<span class="places__header-delete-control">&#10006;</span>
<div class="places__radios-wrapper">
        <label class="places__all-label places__label">
            <input type="radio" name="isVisited" class="places__all-places-radio places__radio" checked>
            <span class="places__all-text places__label-text">Все</span>
        </label>
        <label class="places__not-visited-label places__label">
            <input type="radio" name="isVisited" class="places__not-visited-radio places__radio">
            <span class="places__not-visited-text places__label-text">Посетить</span>
        </label>
        <label class="places__visited-label places__label">
            <input type="radio" name="isVisited" class="places__visited-radio places__radio">
            <span class="places__visited-label places__label-text">Посещенные</span>
        </label>   
</div>
