<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Приложение</title>
    <link rel="stylesheet" type="text/css"  href="/index.css">
</head>
<body>
    <main class="main">
        {{> header}}
        {{> create}}
        {{> placesHeader}}
        {{> list}}
    </main>
    <script src="script.js"></script>
</body>
</html>
