<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webdev-task-3</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"
    integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css"
    integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P"
    crossorigin="anonymous">
    <script src="index.js"></script>
</head>
<body>
<article class="page">
    <main class="main">
        <div class="search">
            <input class="search__field input_type_normal" placeholder="Поиск">
        </div>
        <section class="create-place">
            <input type="text" name="name" class="create-place__name input_type_normal" placeholder="Название места">
            <button class="create-place__btn-create btn_type_normal">Создать</button>
        </section>
        <section class="places">
            <header class="places__header">
                <div class="places__heading">
                    <h3 class="places__heading-text">Места</h3>
                    <button class="places__btn-clear btn_type_float"><i class="fas fa-trash-alt"></i></button>
                </div>
                <div class="places__filter">
                    <input type="radio" name="filter-option" id="all" class="places__inp-all" hidden checked>
                    <label for="all" class="places__btn-all" data-filter-state="all">Все
                    </label>
                    <input type="radio" name="filter-option" class="places__inp-not-visited" id="not-visited" hidden>
                    <label for="not-visited" class="places__btn-not-visited" data-filter-state="notVisited">Посетить
                    </label>
                    <input type="radio" name="filter-option" class="places__inp-visited" id="visited" hidden>
                    <label for="visited" class="places__btn-visited" data-filter-state="visited">Посещённые</label>
                </div>
            </header>
            <section class="places__list">
            </section>
        </section>
    </main>
    <footer class="footer">
        <span class="footer__year">2018</span>
        <span class="footer__copyright">© Evgeny</span>
    </footer>
</article>
</body>
</html>