<!DOCTYPE html>
<html lang={{ lang }}>
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/common/index.css">
</head>
<body>
    <main class="main">
        {{>search}}
        {{>placeCreator}}
        {{>places}}
        {{>footer}}
    </main>
</body>
</html>
