<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <main>
        <input type="text" placeholder="Поиск" class="search">
        <div class="place-creater">
            <input type="text" placeholder="Название места" class="place-creater__input">
            <input type="button" value="Создать" class="place-creater__button">
        </div>
        <article class="place-editor">
            <div class="basket">
                <p class="basket__text">Места</p>
                <img src="imgs/basket.png" alt="Изображение корзины" class="basket__img">
            </div>
            <section class="tabs">
                <input type="radio" name="sorting-places" id="all-places" class="tabs__input tabs__input_all-places" checked hidden>
                <label for="all-places" class="tabs__label tabs__label_all-places">Все</label>
                <input type="radio" name="sorting-places" id="visited-places" class="tabs__input tabs__input_vizited-places" hidden>
                <label for="visited-places" class="tabs__label tabs__label_vizited-places">Посетить</label>
                <input type="radio" name="sorting-places" id="unvisited-places" class="tabs__input tabs__input_unvizited-places" hidden>
                <label for="unvisited-places" class="tabs__label tabs__label_unvizited-places">Посещенные</label>
            </section>
        </article >
        <section class="places">
        </section>
    </main>
    <footer class="footer">
        <time class="footer__time">2008</time>
        <p class=footer__creator>&copy; dorokhova</p>
    </footer>
</body>
</html>