@import 'add-form/add-form.scss';
@import 'search-form/search-form.scss';
@import 'places/places.scss';
@import 'footer/footer.scss';

body {
    width: 500px;
    margin: 10px auto;
    border: 2px solid black;
}