.new-place
{
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: calc(var(--height-for-input-text) + 6px) auto;
    margin: var(--standard-margin-from-hr) var(--margin-for-content);
}

.new-place__name
{
    grid-area: 1 / 1 / 2 / 2;
    font-family: Antipasto;
    font-size: 100%;
    margin: 0 10px 0 0;
    padding: 10px 0 0 10px;
    border: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid var(--border-color);
    outline: none;
    background-color: transparent;
}

.new-place__description
{
    padding: 3px;
    grid-area: 2 / 1 / 3 / 3;
    font-family: Antipasto;
    font-size: 80%;
    margin-top: 20px;
    height: calc(var(--height-for-input-text)*1.5);
    width: calc(var(--body-width) - 2*(var(--margin-for-content) + 4px));
    max-width: calc(var(--body-width) - 2*(var(--margin-for-content) + 4px));
    resize: both;
    border: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid var(--border-color);
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
}

.new-place__name:hover,
.new-place__description:hover
{
    border: 3px solid #6af3;
    border-bottom: 3px solid var(--border-color);
    border-radius: 3px;
    transition: .25s;
}

.new-place__name:focus,
.new-place__description:focus
{
    border: 3px solid var(--border-color);
    border-radius: 3px;
    transition: .25s;
    transform: scale(1.05);
}

.new-place__create-button
{
    grid-area: 1 / 2 / 2 / 3;
    font-family: Antipasto;
    font-size: 100%;
    width: 80%;
    border: 1.5px solid var(--border-color);
    border-radius: 24px;
    background: radial-gradient(farthest-side at 10px 10px, #fff3, #60a0ff33);
    background-color: transparent;
    margin: -3px 20px;
    color: var(--text-color);
}

.new-place__create-button:hover
{
    box-shadow: 0 0 2px 1px var(--border-color);
    cursor: pointer;
}

.new-place__create-button:focus
{
    outline: none;
    transition: .3s;
    box-shadow: 0 0 4px 2px var(--border-color);
    animation: 0.8s pulse linear infinite;
    animation-delay: .3s;
}


