.list
{
    margin: var(--standard-margin-from-hr) var(--margin-for-content) var(--margin-for-content);
}

.place
{
    border-bottom: 1px solid var(--border-color);
    margin: var(--standard-margin-from-hr) 0;
    display: grid;
    grid-template-columns: 10fr 1fr 2fr;
    grid-template-rows: 40px 55px auto;
    grid-template-areas:    "🐷 🐷 🐼"
                            "🐰 🐰 🐺"
                            "🐰 🐰 🐻";
}

.place_hidden
{
    display: none;
}

.place:hover .place__edit,
.place:hover .place__delete,
.place:hover .place__change-order
{
    visibility: visible;
}

.place__title
{
    grid-area: 🐷;
    display: flex;
    justify-content: flex-start;
    height: 40px;
    box-sizing: border-box;
    --pic-size: 24px;
}

.place__name
{
    height: var(--height-for-input-text);
    box-sizing: border-box;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.place__name-edit
{
    display: flex;
    flex-wrap: nowrap;
    display: none;
}

.place__name_edit
{
    height: var(--height-for-input-text);
    box-sizing: border-box;
    font-size: 100%;
    font-family: Antipasto;
    width: 180px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid var(--border-color);
    outline: none;
    background-color: transparent;
}

.place__name_edit:focus
{
    border: 1px solid var(--border-color);
}

.place__edit,
.place__delete,
.place__cancel,
.place__accept
{
    width: var(--pic-size);
    height: var(--pic-size);
    margin: calc((40px - var(--pic-size))/2) 10px;
    outline: none;
}

.place__cancel:hover,
.place__cancel:focus

{
    box-shadow: 0 0 4px 2px #F008;
    transition: .3s;
}

.place__accept:hover,
.place__accept:focus
{
    box-shadow: 0 0 4px 2px #0F07;
    transition: .3s;
}

.place__edit,
.place__delete
{
    visibility: hidden;
}

.place__edit:hover,
.place__delete:hover
{
    box-shadow: 0 0 2px 1px var(--border-color);
    transform: rotate(-15deg) scale(1.2);
    transition: .3s;
}

.place__edit:focus,
.place__delete:focus
{
    box-shadow: 0 0 4px 2px var(--border-color);
    animation: pulse 1s linear infinite;
}

.place__description
{
    grid-area: 🐰;
    margin: 10px;
    font-size: 80%;
    text-indent: 5%;
}

.place__description-edit
{
    display: none;
    grid-area: 🐰;
    margin: 20px 20px 10px;
    height: calc(2*var(--height-for-input-text));
    font-size: 80%;
    font-family: Antipasto;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid var(--border-color);
    background-color: transparent;
    outline: none;
}

.place__description-edit:focus
{
    border-color: var(--border-color);
}

.place__change-order
{
    grid-area: 🐺;
    margin: 3px 14px;
    width: 48px;
    height: 48px;
    border: 1px solid var(--border-color);
    border-radius: 20%;
    background: radial-gradient(farthest-side at 5px 5px, #fff, #999b);
    visibility: hidden;
}

.place__change-order:hover
{
    cursor: pointer;
    height: 40px;
    padding: 4px 0;
    transition: .2s;
}

.place__change-order:active
{
    background: radial-gradient(farthest-side at 12px 12px, #fff, #999b);
}

.place__create-date
{
    grid-area: 🐻;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

.place__create-date > div:first-child
{
    opacity: .9;
    font-size: 70%;
}

.place__visited
{
    grid-area: 🐼;
    justify-self: flex-end;
    width: 38px;
    height: 38px;
    margin: 1px 5px;
    box-sizing: border-box;
    background-image: url(/pics/check-none.svg);
    background-size: 42px 42px;
    background-repeat: no-repeat;
    background-position: -2px -2px;
    border-radius: 2px;
    cursor: pointer;
}

.place__visited_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.place__visited_checkbox:checked + .place__visited
{
    background-image: url(/pics/check.svg);
}

.place__visited_checkbox:hover + .place__visited
{
    box-shadow: 0 0 2px 1px var(--border-color);
}

.place__visited_checkbox:focus + .place__visited
{
    box-shadow: 0 0 4px 2px var(--border-color);
}

.place__text-hide
{
    display: none;
}

.place__text-block
{
    display: block;
}

.place__text-flex
{
    display: flex;
}
