<div class="place__normal">
    <div>
        <span class="place__normal__edit">
            <i class="fa fa-pencil-alt"></i>
        </span>
        <span class="place__normal__delete">
            <i class="fa fa-trash-alt"></i>
        </span>
        <span class="place__normal__name"></span>
    </div>
    <div class="place__normal__swap">
        <span class="place__normal__swap__up">&uarr;</span>
        <span class="place__normal__swap__down">&darr;</span>
    </div>
    <div class="place__normal__visit">
        <input type="checkbox"/>
    </div>
</div>

<div class="place__edit">
    <input type="text" class="place__edit__name"/>
    <span class="place__edit__save"><i class="fa fa-check"></i></span>
    <span class="place__edit__cancel"><i class="fa fa-times"></i></span>
</div>
