main {
    margin: auto;
    width: 600px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.add-place {
    padding: 20px;
}

.add-place__name {
    font-size: 1.2em;
    padding-left: 5px;
}

.place__name {
    padding-left: 10px;
}

.place__name_hidden {
    display: none;
}

.visibility-selectors {
    font-size: 0;
    display: inline;
    margin: auto;
    position: absolute;
    right: 10px;
    top: 10px;
}

.visibility-selectors__button {
    background: #ccc;
    border: 1px solid black;
}

.visibility-selectors__button_selected {
    background: white;
}

.visibility-selectors input {
    min-width: 100px;
}

.visibility-selectors__all {
    border-radius: 20px 0 0 20px;
}

.visibility-selectors__visited {
    border-radius: 0 20px 20px 0;
}

.visibility-selectors__not-visited {
    border-radius: 1px;
}

.add-place__button {
    font-size: 1.2em;
    border-radius: 20px;
}

.places__container {
    min-height: 300px;
}

.places-header {
    border-bottom: 2px solid black;
    padding-bottom: 2px;
    margin-bottom: 20px;
    position: relative;
}

.places-header__text {
    font-size: 2em;
}

.places {
    padding: 20px;
}

.place {
    padding: 10px 0;
    font-size: 2em;
    padding-right: 20px;
}

.place_hidden {
    display: none;
}

.place-edit__input {
    font-size: 1em;
    width: 200px;
}

.place-edit_hidden {
    display: none;
}

.icon_hidden {
    visibility: hidden;
}

.icon_visible {
    visibility: visible
}

i {
    opacity: 0.5;
}

i:hover {
    opacity: 1;
    cursor: pointer;
}

.place__swap {
    float: right;
    padding-right: 10px;
}

.place-swap-arrow_hidden {
    visibility: hidden;
}

.place__visited {
    float: right;
}

.place__name_visited {
    text-decoration: line-through;
}

.footer__author {
    position: absolute;
    top: 5px;
    right: 10px;
}

.footer__year {
    position: absolute;
    top: 5px;
    left: 10px;
}

.footer {
    position: relative;
    border-top: 2px solid black;
    height: 30px;
}

.search-field {
    width: 320px;
    margin: auto;
    margin: 20px;
    font-size: 1.2em;
    padding-left: 5px;
}

.place-edit {
    padding: 0 5px;
}

.place__delete {
    padding: 0 5px;
}

.place-edit__cancel {
    padding: 0 10px;
}