@font-face
   font-family RobotoCondensed
   font-style normal
   src url(fonts/RobotoCondensed.ttf)

body
    font-family RobotoCondensed, Arial, sans-serif
    margin auto
    margin-top 50px
    width 400px
    border 3px solid #ff0080
    box-shadow 0 10px 6px -6px #555

form
    background-color #00ff7f

.header
    font-size 18px
    color #ff0080
    text-align center
    margin-left 10px
    margin-right 10px
    padding-top 10px

.search-input
    margin 10px
    width 305px

.create-input
    margin 10px
    width 300px

input:focus
    outline none

button:focus
    outline none

button
    cursor pointer

.selector div
    display inline-block
    vertical-align top

.selectorName
    text-align center
    width 50px
    margin 10px
    font-size 16px
    padding 1px
    color #ff0080
    background #fff
    border 1px solid #ff0080
    border-radius 10px

.fieldset
    width 145px
    margin-left 122px
    margin-top 13px
    margin-bottom 10px

.fieldset input
    display none

.fieldset label
    cursor pointer
    background #fff
    padding-right 5px
    padding-left 5px
    border 1px solid #ff0080

.fieldset label:hover
    background #ff0080

.labelAll
    border-top-left-radius 10px
    border-bottom-left-radius 10px

.labelVisited
    border-top-right-radius 10px
    border-bottom-right-radius 10px

.trash
    background url('/svg/garbage.svg') no-repeat
    width 25px
    height 25px
    margin 10px
    border none

.trash:hover
    border 1px solid #ff0080
    border-radius 3px

#search:hover
    background #ff0080

#create:hover
    background #ff0080

#search
    background-color #fff
    border 1px solid #ff0080
    border-radius 10px
    width 65px

#create
    background-color #fff
    border 1px solid #ff0080
    border-radius 10px
    width 65px   

.footer
    color #fff
    margin-left 10px
    padding-bottom 10px

.footer div
    display inline-block
    vertical-align top

.year
    width 80%

input[type="radio"] + label:checked
    background #ff0080

.place
    background #fff
    width 92%
    padding 5px
    margin 10px
    cursor pointer
    border 1px solid #ff0080
    display inline-block
    vertical-align top

.editField
    width 100px
    height 22px
    display inline-block
    vertical-align top
    border 1px solid #ff0080

#editDescriptionBtn
    background url('/svg/editplace.svg') no-repeat
    background-size contain
    width 20px
    height 20px
    border none

#editDescriptionBtn:hover
    border 1px solid #00ff7f

#saveChanges
    background url('/svg/savechanges.svg') no-repeat
    background-size contain
    width 20px
    height 20px
    border none

#saveChanges:hover
    border 1px solid #00ff7f

#deleteChanges
    background url('/svg/canselchanges.svg') no-repeat
    background-size contain
    width 20px
    height 20px
    border none

#deleteChanges:hover
    border 1px solid #00ff7f

#btnUp
    background url('/svg/uparrow.svg') no-repeat
    background-size contain
    width 20px
    height 20px
    border none

#btnUp:hover
    border 1px solid #00ff7f

#btnDown
    background url('/svg/downarror.svg') no-repeat
    background-size contain
    width 20px
    height 20px
    border none

#btnDown:hover
    border 1px solid #00ff7f

#deletePlaceBtn
    background url('/svg/deleteplace.svg') no-repeat
    background-size contain
    width 20px
    height 20px
    border none

#deletePlaceBtn:hover
    border 1px solid #00ff7f

#tick:checked
    background-color #ff0080

#tick
    margin 0
    heigth 15px
    background-color #ff0080

#editField
    width 100px
    height 22px
    display inline-block
    vertical-align top
    border 1px solid #ff0080



// #places
//     height 50px

