@import "https://use.fontawesome.com/releases/v5.0.8/css/all.css";
@import "blocks/list-filter.css";
@import "blocks/search-box.css";
@import "blocks/list-item.css";
@import "blocks/font-icon.css";
@import "blocks/app-footer.css";
@import "blocks/places-app.css";

body {
    margin: 0;
}
