.filters {
    margin: 0 auto;
    width: 600px;
    display: flex;
}

.filters__title {
    width: 200px;
}

.filters__delete {
    width: 50px;
}

.filters__visited {
    
}

.new-place {
    margin: 0 auto;
    width: 600px;
    padding: 20px;
}

.search {
    margin: 0 auto;
    width: 600px;
    padding: 20px;
}

.place {
    display: flex;
    height: 50px;
}

.place__title {
    margin-left: 110px;
    flex-grow: 4;
}

.controls {
    width: 110px;
    display: none;
}

.place:hover .place__title {
    margin-left: 0px;
}

.place:hover .controls {
    display: inline-block;
}

.arrows {
    flex-grow: 1;
}

.place__visited {
    flex-grow: 1;
}

.places {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
}