.add-form {
    text-align: center;
    margin-top: 10px;
    
    &__button {
        cursor: pointer;
        width: 100px;
        margin-right: 5px;
    }

    &__input {
        width: 200px;
    }
}
