.add-form {
    text-align: center;
    margin-top: 5px;
    
    &__button {
        cursor: pointer;
        width: 100px;
        height: 27px;
        border-radius: 300px;
        background-color: white;
        border: 2px solid black;
        margin: 0 5px;
    }

    &__input {
        height: 20px;
        width: 200px;
    }
}
