.page {
    padding: 15px;
    margin: 0 auto;
    min-width: 375px;
    max-width: 600px;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.page__main {
    min-height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}
