.form {
    display: flex;
    padding: 0 16px;
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 0;
    border: none;
    outline: none;
    margin-right: 10px;
}

.button {
    background: transparent;
    font-weight: bold;

    border: none;
    cursor: pointer;
    transition: color 300ms ease-in-out;
}

.button:hover {
    color: #fb0;
}

.button:disabled {
    color: #888888;
}
