.places-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.places-header__clear {
    border: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: none;
    margin-left: 10px;
}

.places-header__clear-loader {
    width: 22px !important;
    height: 22px;
    margin-left: 10px;
}

.places-header__clear:hover .places-header__clear-icon {
    filter: opacity(75%);
}

.places-header__clear:active .places-header__clear-icon {
    filter: opacity(50%);
}

.places-header__clear-icon {
    width: 22px;
    height: 22px;
}

.place-header__filters {
    font-size: 0;
    margin-left: 30px;
    border: 1px solid #eee;
    border-radius: 4px;
}

.filter-button {
    border: 0;
    outline: 0;
    background: #fff;
    padding: 3px 10px;
}

.filter-button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.filter-button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.filter-button[aria-checked] {
    background: #ffeca6;
}
