.footer {
    border-top: 1px solid black;

    &__copyright {
        display: inline-block;
        margin-left: 10px;
    }

    &__date {
        display:inline-block;
        margin-left: 400px;
    }
}