<div class="places">
    <div class="places__top">
        <div>Места <span class="places__top__remove-button"><i class="fa fa-trash"></i></span></div>
        <div class="places__top__switch">
            <div class="active">Все</div>
            <div>Посетить</div>
            <div>Посещенные</div>
        </div>
    </div>
    <div class="places__list">
    </div>
</div>
