.search {
    grid-area: s;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background: #66bb6a;
}

.search__input {
    width: 550px;
    height: 30px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 0 27px;
    box-sizing: border-box;
    background-image: url('/search/search.png');   
    background-repeat: no-repeat; 
    background-position: 4px;
    outline: none;
}