.place {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 8px;

    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.disable:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
}

.visit {
    margin-right: 8px;
    border: none;
}

.name {
    box-sizing: border-box;
    width: 100%;

    padding: 8px 16px;
    border: none;
    outline: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.action {
    display: none;
    color: #888;
    transition: color 300ms ease-in-out;
    cursor: pointer;
    user-select: none;
}

.action:not(:last-child) {
    margin-right: 10px;
}

.action:hover {
    color: #fb0;
}

.place:hover .action {
    display: inline-block;
}

