{
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "strict": 0,
        "no-return-assign": 0,
        "no-invalid-this": 0,
        "no-undef": 0,
        "no-alert": 0
    }
}
